
{{!-- {{outlet}} --}}
<div class="container py-4">

<h1>Rooms</h1>
<LinkTo @route='rooms.new'>
  <button type='button' class='bg-primary px-4 py-2 rounded text-white'>
    <i data-feather="plus" class="inline"></i>
    จองห้อง
  </button>
</LinkTo>

{{#each this.model.rooms as |room|}}
  <LinkTo @route='rooms.show' @model={{room.id}}>
    <div>
      {{room.id}}
      {{room.label}}
      {{room.capacity}}
    </div>
  </LinkTo>
{{/each}}
</div>

{{outlet}}