
{{!-- {{outlet}} --}}
<div class="container py-4">

<h1>Rooms</h1>

{{#each this.model.rooms as |room|}}
  <LinkTo @route='rooms.show' @model={{room.id}}>
    <div>
      {{room.id}}
      {{room.label}}
      {{room.capacity}}
    </div>
  </LinkTo>
{{/each}}
</div>