<Background::Box>
  {{#with this.model.person as |p|}}
    <div class='flex items-center'>
      <FeatherIcon @icon='user' @class='w-8 inline mr-2 -ml-1' />
      <h1 class="text-lg font-bold">
        {{p.name_th}} {{p.surname_th}}
      </h1>
    </div>
    <br>
    <tr>
      <td class='pr-3'>รหัสนิสิต</td>
      <td>{{p.student_id}}</td>
    </tr>
    <tr>
      <td>สาขา</td>
      <td>{{if p.department p.department "-"}}</td>
    </tr>
    <tr>
      <td>กรุป</td>
      <td>{{if p.intania_group p.intania_group "-"}}</td>
    </tr>
    <tr>
      <td class='pr-3'>เบอร์โทร</td>
      <td>{{p.phone}}</td>
    </tr>
    <tr>
      <td>line ID</td>
      <td>{{if p.line_id p.line_id "-"}}</td>
    </tr>

  {{/with}}
</Background::Box>