<Navigation::Overlay @visible={{this.show_menu}}></Navigation::Overlay>
<nav
  class="fixed flex m-auto bg-white left-0 bottom-0 w-screen h-16 md:w-16 md:h-screen justify-around sm:justify-center md:flex-col md:justify-center shadow"
  style='z-index: 10'
  {{did-insert this.mounted}}
>
  <AnimatedContainer class='overflow-hidden'>
    {{#animated-if this.auth.is_auth rules=this.rules}}
      <LinkTo @route="index">
        <NavigationItem @icon="home" @label="home" />
      </LinkTo>
    {{else}}
      <LinkTo @route="login">
        <NavigationItem @icon="log-in" @label="login" />
      </LinkTo>
    {{/animated-if}}
  {{!-- <hr class="opacity-50 w-10 m-auto my-2 hidden {{unless this.auth.is_auth "md:block"}}" /> --}}
  </AnimatedContainer>
  <LinkTo @route="blogs.index">
    {{!-- <NavigationItem @icon="home" @label="home" /> --}}
    <NavigationItem @icon="flag" @label="blogs" />
  </LinkTo>
  <LinkTo @route="reservations.index">
    <NavigationItem @icon="zap" @label="rooms" />
  </LinkTo>
  {{!-- <hr class="opacity-50 w-10 m-auto my-2 hidden md:block" /> --}}
  <button id='navigation-item-menu' class='appearance-none outline-none' type='button' {{on "click" this.toggle_menu}}>
    <NavigationItem @icon="menu" @label="more" />
  </button>
</nav>
