<Background::Pure>

<Background::Box as |box|>

<h1 class='font-bold text-xl'>รายการจองห้องประชุม</h1>
<LinkTo @route='reservations.new'>
  <Button @icon='plus' class='mt-5'>จองห้อง</Button>
</LinkTo>
<br>
{{#each this.model.reservations as |r|}}
  <LinkTo @route='reservations.show' @model={{r.id}}>
    {{#if (lodash-includes this.head_of_day r.id)}}
      <div class="font-bold text-white bg-primary {{box.class}} py-3 my-2">
        {{dayjs r.arrival_time "วัน ddd ที่ DD MMMM"}}
      </div>
    {{/if}}
    <div class='py-5 flex justify-between items-center hover:bg-light {{box.class}}'>
      <div class='flex-1'>{{r.organization}}</div>
      <div class='bg-current h-4 w-4 rounded-full mx-3 block md:hidden' data-reservation-status={{r.status}}></div>
      <div class='md:flex justify-between items-center flex-col md:flex-row w-32 md:w-auto'>
        <div class='md:w-24 text-right md:text-left md:text-sm mb-1 md:mb-0'>{{r.room.label}}</div>
        <div class='bg-current h-4 w-4 rounded-full mx-3 hidden md:block' data-reservation-status={{r.status}}></div>
        <div class='md:w-24 text-right'>{{dayjs r.arrival_time "H:mm"}} - {{dayjs r.departure_time "H:mm"}}</div>
      </div>
    </div>
  </LinkTo>
{{else}}
  <div class="flex justify-center items-center flex-col mt-4">
    <FeatherIcon @icon='inbox' @class='h-16 w-16' @stroke-width={{0.9}} />
    <span class="mt-2 mb-4">ไม่มีรายการจอง</span>
  </div>
{{/each}}


</Background::Box>
</Background::Pure>